

.intro-text{
    color: white;
    display: flex;
    width: 36vw;
    margin-left: 5vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    
}