.contact-me-stick {
  position: relative;
  top: 110vw;
}

.contactme {
  position: absolute;
  top: 10vw;
  left: 16vw;
  
  
}
.email-me-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
}
.form {
  max-width: 25vw;
  margin: 0 auto;
  padding: 1vw;
  border-radius: 0.5vw;
  background-color: #ffffff65;
}

.form label {
  display: block;
  margin-bottom: 0.5vw;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  background-color: white;
  padding-bottom: 1vw;
  margin-bottom: 0.5vw;
  font-size: 1.5vw;
  border: 1px solid #ffffff;
  border-radius: 0.5vw;
  
 
}

.form textarea {
  resize: vertical;
}

.form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #0056b3;
}

.follow-me {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  color: white;
  position: relative;
}



.in-img {
  width: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  padding-bottom: 1vw;
  margin-top: 1vw;
  position: absolute;
  top: 33vw;
  left: 51vw;

 
}

.in-img:hover {
width: 3.5vw;

}

.mailme-img img {
  position: absolute;
  display: flex;
  width: 15vw;
  top: 5vw;
  left: -9vw;
  filter: drop-shadow(0vw 0vw 1vw white);
}



.side-text {
  position: absolute;
  left: 60vw;
  color: white;
  width: 30vw;
  top: 20vw;
  font-family: arial;
  font-size: 1vw;
}