.home-stick{
position: relative;
margin-top: 1vw;
padding-top: 5vw;

}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1vw;
    margin-top: 1vw;
    
   
}

.welcome-message{
    font-size: 3vw;
    color: white;
    font-family: Lobster, arial;
    position: absolute;
    left: 10vw;
    text-decoration: underline;
    top: 10vw;
    
    

}

.welcome-img {
    width: 30vw;
    position: absolute;
    left: 55vw;
    margin-top: 40vw;
    
}

.welcome-text {
    color: white;
    position: absolute;
    left: 10vw;
    top: 20vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5vw;
    font-style: italic;
    border-color: aliceblue;
    border-style: dashed;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    
}

.img-container{
    display: flex;
    position: absolute;
    top: 37vw;
    left: 1vw;
}
.img-container li {
    list-style-type: none;
    display: inline-block;
    margin-left: 2vw;
    
}

.program-img {
    width: 3vw;
   
}

