.sidebar {
    display: inline-block;
    height: 30vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1vw;
    width: 4vw;
    position: fixed;
    top: 1.5vw;
    left: 0.8vw;
    z-index: 100;
   


}

.sidebar-img {
    width: 2.2vw;
    border-radius: 1vw;
    margin-top: 0.3vw;
    
}
.sidebar-text {
    color: white;
    position: fixed;
    margin-left: 3vw;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-img:hover {
    width: -1vw;

}
.sidebar-text:hover {
    color: black;
}