.sidebar {
    display: inline-block;
    height: 30vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1vw;
    width: 4vw;
    position: absolute;
    top: 1vw;
    left: 0.8vw;
   


}

.sidebar-img {
    width: 2.2vw;
    border-radius: 1vw;
    margin-top: 0.3vw;
    
}
.sidebar-text {
    color: white;
    position: absolute;
    margin-left: 3vw;;
}

.sidebar-img:hover {
    width: 2vw;

}
.sidebar-text:hover {
    color: black;
}